.result {
  font-size: 30px;
  height: 60px;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  width: 80%;
  border: 0;
  margin: 15px;
}

.result p {
  font-size: 40px;
  margin: 5px;

}